footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $text-clr;
    background-color: $lightGreen;
    padding: 2rem;
    img {
        height: 40px;
    }
}