
@include media-desktop {

    .home-main {
        width: 100vw;
        .container {
            border-radius: 10px;
            width: 80%;
            .nav {
                width:25%;

                a {
                    .logo {
                        display:none;
                    }
                }

                .nav-right {
                    
                    .nav-items {

                        .nav-item {

                            &__links {
                                font-size: 1.3rem;
                                &.profile-name {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
    
            .main-dashboard {
                width: 75%;
                height: 90vh;
                
                .popup{

                    &.show{
                        top: 1rem;
                        .notify-close {
                            display: block;
                        }
                    }
                }
                .home-heading {
                    @include h1;
                }
                .notes-wrapper {
                    height: 100%;
                    overflow-y: hidden;
                    overflow-x: hidden;
                    align-items: center;
                    
                    .note-head-wrapper {
                        width: 100%;
                    }

                    .card-wrapper {
                        justify-content: center;
                        flex-direction: row !important;
                        flex-wrap: wrap;
                        gap: 0.5rem;
                        padding:1rem;
                        width: 60%;
                        height: 100%;
                        overflow-y: scroll;
                        
                        
                        .note-card {
                            box-sizing: border-box;
                            width: 300px;

                            .note-body-wrapper {
                                padding-bottom: 1rem;

                                .note-icons {

                                    a {
                                        .icon {
                                            display: block;
                                            width: 1.7rem;

                                        }
                                    }
                                }
                            }
                        }
                        .create-wrapper {
                            display: flex;
                            justify-content: center;
                            width: 100%;
                        }
                    }
                }
            }
        } //container end
    } //home-main end

} //Media query end
