@include media-desktop {
    .home-main {
        .container {
            overflow-y: hidden;
            background: linear-gradient(244.28deg, #379791 7.62%, rgba(51, 222, 140, 0) 107.36%); 
            .main-dashboard-profile {
                padding: 2rem 1rem;
                background-color: $lightGreen;
                overflow-y: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 75%;
                height: 90vh;
                border-radius: 0 10px 10px 0;
                .dashboard-body {
                    height: 100%;
                    width:80%;
                    display: flex;
                    flex-direction: row;
                    padding-bottom: 1rem;
                    overflow-y: hidden;
                    // flex-wrap: wrap;

                    .account-info {
                        width:50%;
                    }
                    .deleted-notes {
                        margin: 0 0 0 2rem;
                        overflow-y: scroll;
                        height: 80%;
                        width: 50%;
                    }
                }
            }
        }
    }
}