body {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  background-color: #E3FFF5;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.nav .nav-left {
  z-index: 4;
}

.nav .nav-left a .logo {
  height: 30px;
}

.nav .hamburger {
  position: absolute;
  z-index: 3;
  right: 1rem;
  top: 1.4rem;
  height: 30px;
  width: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.nav .hamburger__lines {
  position: absolute;
  right: -1px;
  top: 10px;
  height: 3px;
  width: 30px;
  background-color: #3D3D3D;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.nav .hamburger__lines::before {
  content: "";
  position: absolute;
  top: -10px;
  width: 30px;
  height: 3px;
  background-color: #3D3D3D;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.nav .hamburger__lines::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 22px;
  height: 3px;
  background-color: #3D3D3D;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.nav .hamburger__lines.open {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background: transparent;
}

.nav .hamburger__lines.open::before {
  -webkit-transform: rotate(45deg) translate(4px, 10px);
          transform: rotate(45deg) translate(4px, 10px);
}

.nav .hamburger__lines.open::after {
  width: 30px;
  -webkit-transform: rotate(-45deg) translate(4px, -10px);
          transform: rotate(-45deg) translate(4px, -10px);
}

.nav .nav-right {
  -webkit-transition: 1s;
  transition: 1s;
}

.nav .nav-right .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #E3FFF5;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.nav .nav-right .nav-items.nav-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.nav .nav-right .nav-items.nav-open .nav-item {
  list-style: none;
  margin-bottom: 3rem;
}

.nav .nav-right .nav-items.nav-open .nav-item__links {
  text-decoration: none;
  font-size: 2rem;
  color: #3D3D3D;
}

.nav .nav-right .nav-items.nav-open .nav-item__links.active {
  color: #2A6D69;
}

.nav .nav-right .nav-items .nav-item {
  list-style: none;
  margin-bottom: 3rem;
}

.nav .nav-right .nav-items .nav-item__links {
  text-decoration: none;
  font-size: 2rem;
  color: #3D3D3D;
}

.nav .nav-right .nav-items .nav-item__links.active {
  color: #2A6D69;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3D3D3D;
  background-color: #E3FFF5;
  padding: 2rem;
}

footer img {
  height: 40px;
}

main .container .main-dashboard {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3D3D3D;
  padding: 2rem 1rem;
}

main .container .main-dashboard .heading {
  font-size: 4rem;
  margin: 1rem 0 1rem 0;
  color: #2A6D69;
  font-weight: 600;
}

main .container .main-dashboard img {
  height: 70px;
}

main .container .main-dashboard .sub-heading {
  text-align: center;
  margin-bottom: 4rem;
  font-weight: 400;
}

main .container .main-dashboard .cta {
  text-decoration: none;
  color: #ffffff;
  background-color: #2A6D69;
  padding: 1rem 6rem;
  border-radius: 5px;
  font-size: 1.2rem;
}

main .container .main-dashboard .login-direct a {
  text-decoration: none;
  color: #2A6D69;
}
/*# sourceMappingURL=main.css.map */