
//Typography
@mixin h1 {
    font-size: 4rem;
    margin: 1rem 0 1rem 0;
    color: $text-clr;
    font-weight: 600;
}
@mixin h2 {
    text-align: center;
    margin-bottom: 4rem;
    font-weight: 400;
}


//Transition
@mixin transition-ease {
    transition: all 0.4s ease-in-out;
}

//Media queries
@mixin media-tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

//Behövs kanske inte anpassas
@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}