.home-body {
    .home-main {
        
        .container {
            background: linear-gradient(244.28deg, #379791 7.62%, rgba(51, 222, 140, 0) 107.36%); 

            .main-dashboard {
                width: 95%;
                padding: 2rem 0;
                .home-heading {
                    @include h1;
                }

                .notes-wrapper {
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    width:100%;
                    height:auto;  
                    background-color: $lightGreen;
                    border-radius: 10px;
                    padding: 0 1rem 1rem 1rem;
                    .note-head-wrapper {
                        
                        .home-subheading {
                            @include h2;
                        }
                    }
                    .card-wrapper{
                        display:flex;
                        flex-direction: column;
                        .note-card {
                            background-color: $white;
                            margin-bottom: 1.2rem;
                            border-radius: 8px;
                            box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.4);
                            padding: 0 1.5rem;
                            // width: 276px;
                            // max-width: 300px;
                            align-self: center;
                            .note-body-wrapper {
                                display: flex;
                                flex-direction: column;

                                
                                .note-title {
                                    align-self: center;
                                    display: inline-block;
                                }
    
                                .note-body {
                                    font-size: 1rem;
                                    display: inline-block;
                                    align-self: center;
                                }
    
                                .note-icons {
                                    display:flex;
                                    justify-content: space-evenly;
                                    a {
                                        // height:1rem;
                                        .icon {
                                            width: 1.7rem;
                                        }
                                    }
                                }
                            }
                        }
                        .cta-create {
                            align-self: center;
                            width: 267px;
                            display: inline-block;
                            text-decoration: none;
                            text-align: center;
                            background-color: $darkGreen;
                            color: $white;
                            padding: 1rem 0;
                            font-size: 1.2rem;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
    }
}