.home-body {
    .home-main {
        
        .container {
            background: linear-gradient(244.28deg, #379791 7.62%, rgba(51, 222, 140, 0) 107.36%); 

            .main-dashboard {
                width: 95%;
                padding: 2rem 0;
                .home-heading {
                    @include h1;
                }
                .popup {
                    box-sizing: border-box;
                    padding: 1rem;
                    // justify-self: center;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position:absolute;
                    top: 100px;
                    right: -100%;
                    width: 80%;
                    max-width: 400px;
                    height: 100px;
                    background-color: rgba(255, 255, 255, 0.8);
                    border-radius: 8px;
                    transition: 0.6s ease-in-out;
                    opacity: 0;
                    // z-index: 0;

                    &.show {
                        right: 35px;
                        opacity: 1;
                        // transition: 0.6s ease-in-out;
                    }
                    

                    .notification {
                        color: $text-clr;
                        font-size: 1.1rem;
                        font-weight: 300;
                        opacity: 1;
                    }
                    .notify-close {
                        width: 25px;
                        display: block;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                .notes-wrapper {
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    width:100%;
                    height:auto;  
                    background-color: $lightGreen;
                    border-radius: 10px;
                    padding: 0 1rem 1rem 1rem;
                    .note-head-wrapper {
                        
                        .home-subheading {
                            @include h2;
                        }
                    }
                    .card-wrapper{
                        display:flex;
                        flex-direction: column;
                        .note-card {
                            background-color: $white;
                            margin-bottom: 1.2rem;
                            border-radius: 8px;
                            box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.4);
                            padding: 0 1.5rem;
                            // width: 276px;
                            // max-width: 300px;
                            align-self: center;
                            .note-body-wrapper {
                                display: flex;
                                flex-direction: column;

                                
                                .note-title {
                                    align-self: center;
                                    display: inline-block;

                                    &.checked {
                                        text-decoration: line-through;
                                    }
                                }
    
                                .note-body {
                                    font-size: 1rem;
                                    display: inline-block;
                                    align-self: center;

                                    &.checked {
                                        text-decoration: line-through;
                                    }
                                }
    
                                .note-icons {
                                    display:flex;
                                    justify-content: space-evenly;
                                    a {
                                        // height:1rem;
                                        .icon {
                                            width: 1.7rem;
                                            margin: 0 0.7rem 0 0.7rem;
                                        }

                                        .icon-checked {
                                            color: $text-clr;
                                        }
                                    }
                                }
                            }
                            &.checked-note {
                                background-color: #c4c4c4;
                            }
                        }
                        .cta-create {
                            align-self: center;
                            width: 267px;
                            display: inline-block;
                            text-decoration: none;
                            text-align: center;
                            background-color: $darkGreen;
                            color: $white;
                            padding: 1rem 0;
                            font-size: 1.2rem;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
    }
}