.signup-main {
    color: $text-clr;

    .container {

        .signup-heading {
            @include h1;
        }
        .signup-sub-heading {
            @include h2;
        }
        .signup-form {
            width: 90%;

            input {
                width: 278px;
                height: 1.5rem;
                margin-bottom: 1rem;
            }

            input[type="submit"] {
                height: 3rem;
                margin-top: 2rem;
                color: $white;
                background-color: $darkGreen;
                border-radius: 5px;
                font-size: 1.2rem;
                border: none;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}